<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/659a765ffa97c26867319af8_IMG_1592.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Front Wheel Detected</title>
</head>
<body>
    <div id="detectionMainDiv">
        <h1 id="detectionHeading">We detected a front wheel</h1>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/cw8HYVzsHgU?si=wy3MpstGfdfpVLpl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div id="instructions">
            <h2 id="instructionsTitle">Instructions to maintain your front wheels and tires!</h3>
            <ul id="instructionList">
                <h3>Visual Inspection</h3>
                <li>Start by visually inspecting the tires for any signs of damage or wear. Look for cuts, punctures, bulges, or cracks on the sidewalls and tread. If you have cyclone tires, ensure that the center treadline is sharp and has not got any pits in it.
                </li>
                <li>Check for any embedded objects like rocks, nails, or glass that may cause leaks or further damage.</li>
                <h3>Tread Depth Measurement</h3>
                <li>Measure the tread depth using a tread depth gauge or a penny. Insert the gauge into the tread grooves or place the penny upside down into the tread. If you can see the top of Lincoln's head, it's time to replace the tires as the tread depth is too shallow for safe traction.</li>
                <h3>Tire Pressure Check</h3>
                <li>Use a tire pressure gauge to check the air pressure in each tire. Refer to the manufacturer's recommendations for the appropriate tire pressure.</li>
                <li>Inflate or deflate the tires as needed to match the recommended pressure. Improper tire pressure can affect traction, handling, and overall performance.</li>
                <h3>Sidewall Inspection</h3>
                <li>Examine the sidewalls for any signs of cracking, dry rot, or damage. These issues can weaken the tire's structure and lead to failure.</li>
                <li>Pay close attention to the area where the tire meets the rim for any signs of damage or leakage.</li>
                <h3>Valve Stem Check</h3>
                <li>Inspect the valve stems for damage or signs of leaks. Ensure that the valve caps are securely in place to prevent dirt and debris from entering the valve.</li>
            </ul>
        </div>
    </div>
</body>
</html>