<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/659a765ffa97c26867319af8_IMG_1592.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Oil cap Detected</title>
</head>
<body>
    <div id="detectionMainDiv">
        <h1 id="detectionHeading">We detected an oil cap</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6RZAf1eMfs4?si=fm8aAnjfz_OW5RPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div id="instructions">
            <h2 id="instructionsTitle">Instructions to maintain the oil in your ATV!</h3>
            <ul id="instructionList">
                <li>
                    <h3>Oil Level Check</h3>
                    Allow the ATV engine to cool down if it has been running. Park the ATV on a level surface for accurate measurements.
                </li>
                <li>
                    Locate the oil dipstick or oil level sight glass, depending on the ATV model.
                </li>
                <li>
                    Remove the dipstick or visually inspect the sight glass to check the oil level. Wipe the dipstick clean with a cloth or paper towel before reinserting it.
                </li>
                <li>
                    Ensure that the oil level falls within the recommended range marked on the dipstick or sight glass. Add oil if the level is low, using the type and viscosity recommended by the ATV manufacturer.
                </li>
                <li>
                    <h3>Oil Quality Inspection</h3>
                    Check the condition and color of the oil. Healthy oil should appear translucent and amber-colored. If the oil is dark, gritty, or has a burnt smell, it may indicate contamination or degradation.
                </li>
                <li>
                    If the oil appears contaminated or degraded, it's advisable to perform an oil change. Follow the ATV manufacturer's recommendations for the type of oil and the frequency of oil changes.
                </li>
                <li>
                    <h3>Oil Filter Replacement</h3>
                    Determine if your ATV is equipped with an oil filter. If so, inspect the filter for signs of debris, metal particles, or clogging.
                </li>
                <li>
                    Replace the oil filter according to the manufacturer's recommendations or during each oil change to maintain optimal engine performance and longevity.
                </li>
                <li>
                    <h3>Oil Change Procedure</h3>
                    Gather the necessary tools and materials, including a suitable container for draining the old oil, a new oil filter (if applicable), and the correct type and amount of oil recommended for your ATV.
                </li>
                <li>
                    Warm up the ATV engine to ensure that the oil flows more freely for draining. Be cautious not to burn yourself on hot engine components.
                </li>
                <li>
                    Place a drain pan beneath the ATV's oil drain plug and carefully remove the plug to drain the old oil completely.
                </li>
                <li>
                    Once the old oil has drained, reinstall the drain plug securely and replace the oil filter if necessary.
                </li>
                <li>
                    Refill the engine with fresh oil to the recommended level, taking care not to overfill. Use a funnel to avoid spills.
                </li>
                <li>
                    After adding oil, start the ATV engine and let it idle for a few moments to allow the new oil to circulate throughout the engine.
                </li>
                <li>
                    Finally, recheck the oil level and top up if necessary, then securely tighten the oil filler cap or dipstick.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>